/* Topbar container */
.topbar-container {
  height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 4px 20px 4px 12px;
    border-bottom: 1px solid rgba(5, 5, 5, 0.15);
}


  
  
  